.uploadPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vmin;
    color: blue;  
}

.file {
    margin-left: 153px;
}

.uploadPage div.title {
    margin-top: 2vmin;
    margin-left: 80px;
}

.uploadPage div.cat {
    display: flex;
    align-items: center;
    margin: 2vmin;
    text-align: left;
    width: 50%;

}

.uploadPage div.cat p {
    color: blue;
}

.uploadPage div.cat label {
    margin-left: 2rem;
    height: -5vh;
}

span {
    color: blueviolet;
}