body {
    background-color: black;
    color: blue;
}

.uploadPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vmin;
    background-color: black;
    color: blue;  
}

.file {
    margin-left: 153px;
}

.uploadPage div.title {
    margin-top: 2vmin;
    margin-left: 80px;
}

.uploadPage div.cat {
    margin: 2vmin;
}

.uploadPage div.cat p {
    display: inline;
    word-wrap: break-word;
    color: blue;
}