
.auth {
    background-image: url('https://media.giphy.com/media/f7YIDPhBly8Frf6eN1/giphy.gif');
    background-color: yellow;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 125vh;
    margin: 0;
}