.about {
    background-image: url(https://media.giphy.com/media/XU0p8JABAr1rG/giphy.gif);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.about h1 {
    font-family: 'Alfa Slab One', cursive;
}

.about p {
    font-family: 'Courgette', cursive;
}

.about h1, p {
    color: palegreen;
}