.UploadCard {
    width: 70vw;
    position: relative;
}

.UploadCard > img, .UploadCard > video {
    width: 100%;
}

.UploadCard div {
    font-size: medium;
    width: 100%;
}

.UploadCard .uploadinfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    color: whitesmoke;
}

.UploadCard .uploadinfo > div {
    margin-top: .4rem;
}