*, *:before, *:after {
  box-sizing: border-box;
}

.flex-ctr-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgba(10, 162, 244, 0.975);
  color: blue;
  font-family: 'Black Ops One', cursive;
}